.container{
  max-width: 980px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 6rem;
  padding-bottom: 2rem;
}
.produtos-single{
  width: 33.3%;
  padding: 0 1.5rem;
}
.produtos-single img{
  width: 15rem;
}
.produtos-single p {
  color: white;
}